<div class="row">
    <br />
    <div class="col-sm-4 col-sm-offset-4" *ngIf="belopSkjema">
        <div class="kant">
            <h1>Lånekalkulator</h1>
            <form [formGroup]="belop" (ngSubmit)="vedSubmit()">
                <div class="form-group">
                    <label>Lånebeløp</label>
                    <input type="range" formControlName="lanebelop" value="50000" min="5000" max="1000000" step="5000" (input)="endreLanebelop()" oninput="this.form.lanebelop.value = this.value">
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">kr</span>
                        <input name="lanebelop" class="form-control" readonly="readonly" formControlName="lanebelop" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Nedbetalingstid</label>
                    <input type="range" formControlName="nedbetaling" value="2" min="1" max="15" step="1" (input)="endreNedbetaling($event.target.value)" oninput="this.form.nedbetaling.value = this.value">
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">år</span>
                        <input name="nedbetaling" class="form-control" readonly="readonly" formControlName="nedbetaling" />
                    </div>
                    <br />
                </div>
                <label>Månedlig beløp: </label>
                <div class="input-group">
                    <input name="belop" class="form-control half-width" readonly="readonly" value="{{manedsbelopet}}">
                    <span class="input-group-addon" id="basic-addon1">kr per måned</span>
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" *ngIf="skjemaStatus=='soknad'" [disabled]="!belop.valid" class="btn btn-warning">Legg til</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4 col-sm-offset-4" *ngIf="visSkjema">
        <div class="kant">
            <h1>Registrer person</h1>
            <form [formGroup]="skjema" (ngSubmit)="lagreSoknad()">
                <div class="form-group">
                    <label>Personnummer</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic addon1">Personnummer</span>
                        <input class="form-control" formControlName="personnummer" />
                    </div>
                    <p class="alert alert-warning" [hidden]="skjema.controls.personnummer.valid || (skjema.controls.personnummer.pristine && !submitted)">
                        Personnummer er obligatorisk (11 siffer).
                    </p>
                </div>
                <div class="form-group">
                    <label>Telefonnummer</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic addon1">Telefonnummer</span>
                        <input class="form-control" formControlName="telefonnummer" />
                    </div>
                    <p class="alert alert-warning" [hidden]="skjema.controls.telefonnummer.valid || (skjema.controls.telefonnummer.pristine && !submitted)">
                        Telefonnummer er obligatorisk (8 siffer).
                    </p>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic addon1">Email</span>
                        <input class="form-control" formControlName="email" />
                    </div>
                    <p class="alert alert-warning" [hidden]="skjema.controls.email.valid || (skjema.controls.email.pristine && !submitted)">
                        Email er obligatorisk.
                    </p>
                </div>
                <br />
                <button type="submit" *ngIf="skjemaStatus=='soknad'" [disabled]="!belop.valid" class="btn btn-warning">Registrer</button>
                <button (click)="tilbakeTilKalkulator()" *ngIf="skjemaStatus=='soknad'" [disabled]="!belop.valid" class="btn btn-warning">Tilbake</button>
            </form>
            <br />
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-4 col-sm-offset-4" *ngIf="tabellSkjema">
        <div class="kant">
            <h1>Lånesøknad</h1>
            <table class="table table-bordered">
                <thead>
                    <tr class="tabell">
                        <th>Personnr.</th>
                        <th>Tlf</th>
                        <th>Email</th>
                        <th>Lanebeløp</th>
                        <th>År</th>
                        <th>Månedsbeløp</th>
                    </tr>
                </thead>
                <tbody *ngFor="let lanesoknad of alleSoknad">
                    <tr>
                        <!--<td>{{lanesoknad.personnummer}}</td>
                        <td>{{lanesoknad.telefonnummer}}</td>
                        <td>{{lanesoknad.email}}</td>
                        <td>{{lanesoknad.lanebelop}}</td>
                        <td>{{lanesoknad.ar}}</td>
                        <td>{{lanesoknad.manedsbelop}}</td>-->
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
    </div>
</div>


<style type="text/css">
    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        margin: 5.15px 0;
    }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 6.7px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
            background: rgba(236, 151, 31, 0.78);
            border-radius: 25px;
            border: 0px solid #010101;
        }

        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
            border: 1.8px solid #ffffff;
            height: 17px;
            width: 17px;
            border-radius: 15px;
            background: #ffffff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -5.15px;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: rgba(238, 164, 59, 0.78);
        }

        input[type=range]::-moz-range-track {
            width: 100%;
            height: 6.7px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
            background: rgba(236, 151, 31, 0.78);
            border-radius: 25px;
            border: 0px solid #010101;
        }

        input[type=range]::-moz-range-thumb {
            box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
            border: 1.8px solid #ffffff;
            height: 17px;
            width: 17px;
            border-radius: 15px;
            background: #ffffff;
            cursor: pointer;
        }

        input[type=range]::-ms-track {
            width: 100%;
            height: 6.7px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        input[type=range]::-ms-fill-lower {
            background: rgba(218, 135, 18, 0.78);
            border: 0px solid #010101;
            border-radius: 50px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        }

        input[type=range]::-ms-fill-upper {
            background: rgba(236, 151, 31, 0.78);
            border: 0px solid #010101;
            border-radius: 50px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        }

        input[type=range]::-ms-thumb {
            box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
            border: 1.8px solid #ffffff;
            height: 17px;
            width: 17px;
            border-radius: 15px;
            background: #ffffff;
            cursor: pointer;
            height: 6.7px;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: rgba(236, 151, 31, 0.78);
        }

        input[type=range]:focus::-ms-fill-upper {
            background: rgba(238, 164, 59, 0.78);
        }



    div.kant {
        border: 1px solid;
        width: 100%;
        padding: 20px;
        border-color: darkgray;
        background-color: #f8f8f8;
    }

    .tabell {
        background-color: #EC971F;
        color: white;
    }
</style>
a